{
  "openapi": "3.0.2",
  "info": {
    "version": "1.0.0",
    "title": "OCEN",
    "contact": {
      "email": "community@ispirt.in",
      "url": "https://ispirt.in/"
    }
  },
  "paths": {
    "/v4.0.0alpha/loanApplications/createLoanRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Create Loan Applications"
        ],
        "summary": "Create Loan Applications Request",
        "description": "Create Loan applications endpoint available on Lender to be used by LA",
        "operationId": "CreateLoanApplicationsRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData"
                ],
                "properties": {
                  "metaData": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplications": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LoanApplication"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/loanApplications/createLoanResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Create Loan Applications"
        ],
        "summary": "Create Loan Applications Response",
        "description": "This is the response for Create Loan Applications but invoked by the lender. No offers are rolled out as part of this API. If the lender system finds preliminary information sufficient for doing the loan processing, it will send “PROCESSING” as the status. Otherwise, it can reject the application citing a reason for the same.",
        "operationId": "createLoanApplicationsResponse",
        "requestBody": {
          "description": "Response by lender to LA for create bulk loan application request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "response",
                  "productData",
                  "loanApplications"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplications": {
                    "type": "array",
                    "description": "Array of LoanApplications",
                    "items": {
                      "$ref": "#/components/schemas/LoanApplication"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Response Received",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ack"
                  ],
                  "properties": {
                    "ack": {
                      "$ref": "#/components/schemas/Ack"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v4.0.0alpha/consent/consentHandleRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Consent"
        ],
        "summary": "Consent Handle Request",
        "description": "Create consent handle with Account Aggregator | This API is used to request the lenders to send a consent request for fetching the bank account statements, GST historical data. <br /> The lender (FIU) checks with the AA and creates a consent handle internally once this API is triggered",
        "requestBody": {
          "description": "Request by LA to lender to get consent handle with Account Aggregator",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "loanApplicationIds",
                  "productData",
                  "consent"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "examples": [
                        "f8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                      ]
                    }
                  },
                  "consent": {
                    "$ref": "#/components/schemas/Consent"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement by Lender to LA for Consent Handle Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/consent/consentHandleResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Consent"
        ],
        "summary": "Consent Handle Response",
        "description": "Invoked by lender to send consent handle created in Account Aggregator",
        "requestBody": {
          "description": "Consent Handle Response",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "response",
                  "productData",
                  "consent"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "examples": [
                        "f8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                      ]
                    }
                  },
                  "consent": {
                    "$ref": "#/components/schemas/Consent"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement to consent Handle Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/lender/consent/notify": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Consent"
        ],
        "summary": "Share the consent journey status",
        "description": "Invoked by LA to inform Lenders of the consent journey state once the customer has interacted with Account Aggregator",
        "requestBody": {
          "description": "Consent State update request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "loanApplicationIds",
                  "productData",
                  "consent"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "examples": [
                        "f8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                      ]
                    }
                  },
                  "consent": {
                    "$ref": "#/components/schemas/Consent"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement to consent handle Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/ba/consentStatusRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Consent"
        ],
        "summary": "Consent Status Request",
        "description": "Invoked by Lender to get consent handle status from LA",
        "requestBody": {
          "description": "Consent Status Request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "consentHandle"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "consentHandle": {
                    "type": "string",
                    "description": "Consent handle created during loan applications request processing"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement to consent status request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/lender/consentStatusResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Consent"
        ],
        "summary": "Consent Status Response",
        "description": "Invoked by LA to send consent status to Lender",
        "requestBody": {
          "description": "Consent Status Response",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "response",
                  "productData",
                  "consent"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "examples": [
                        "f8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                      ]
                    }
                  },
                  "consent": {
                    "$ref": "#/components/schemas/Consent"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement to consent status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/generateOffersRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Offers"
        ],
        "summary": "Generate Offers Request",
        "description": "The LA sends this request to the lender to get the list of offers that the lender is willing to provide for the loan applications already shared.",
        "operationId": "GenerateOffersRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationIds"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "examples": [
                        "t8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/generateOffersResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Offers"
        ],
        "summary": "Generate Offers Response",
        "description": "This API is invoked by the lender informing the borrower regarding the various loan offers that have been generated corresponding to each of the loan applications. This is a bulk API, where multiple loan offers can be sent to the borrower in one shot.",
        "operationId": "GenerateOffersResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "response",
                  "productData",
                  "loanApplications"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplications": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LoanApplicationWithOffer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/sendAdditionalDocumentsRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Offers"
        ],
        "summary": "Send Additional Documents Request",
        "description": "This API is invoked by the BA informing the lender regarding the additional documents that are required to be submitted by the borrower for a particular loan application with the Action Required status in the Generate Offers Response API.",
        "operationId": "SendAdditionalDocumentsRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationIds"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplications": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "loanApplicationId",
                        "documents"
                      ],
                      "properties": {
                        "loanApplicationId": {
                          "type": "string",
                          "description": "UUID for the loan application.",
                          "examples": [
                            "e8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                          ]
                        },
                        "additionalDocuments": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Document",
                            "description": "Documents that are required to be submitted by the borrower"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/sendAdditionalDocumentsResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Offers"
        ],
        "summary": "Send Additional Documents Response",
        "description": "This API is invoked by returning an offer if the documents suffice the requirement or the lender can return another action required for any additional information required.",
        "operationId": "SendAdditionalDocumentsResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "response",
                  "productData",
                  "loanApplications"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplications": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LoanApplicationWithOffer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/setOffersRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Offers"
        ],
        "summary": "Set Offers Request",
        "description": "This API is invoked by the LA to inform the lender about the offer that the borrower has chosen for a particular loan application.",
        "operationId": "SetOffersRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationId",
                  "offer"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "offer": {
                    "$ref": "#/components/schemas/Offer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/setOffersResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Offers"
        ],
        "summary": "Set Offers Response",
        "description": "This API is invoked by the lender and is the asynchronous response to Set Offer Request API.",
        "operationId": "SetOffersResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "response",
                  "productData",
                  "loanApplicationId",
                  "loanApplicationStatus"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "loanApplicationStatus": {
                    "$ref": "#/components/schemas/LoanApplicationStatus"
                  },
                  "extensibleData": {
                    "$ref": "#/components/schemas/ExtensibleData"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/triggerKycRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "KYC"
        ],
        "summary": "Trigger KYC Request",
        "description": "This  API is called by LA to initiate the KYC process of the borrower after successfully accepting the final offer. The lender is supposed to return the url, where the borrower will be completing the KYC process.",
        "operationId": "TriggerKYCRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationId",
                  "kyc"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string",
                    "examples": [
                      "t8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                    ]
                  },
                  "kyc": {
                    "$ref": "#/components/schemas/KYCDetailsRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/triggerKycResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "KYC"
        ],
        "summary": "Trigger KYC Response",
        "description": "This API is called by the lender in response to trigger KYC requests. The lender returns the url for KYC details submission. The KYC process will be carried out on the lender server.",
        "operationId": "TriggerKYCResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "response",
                  "productData",
                  "loanApplicationId",
                  "kyc"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string",
                    "examples": [
                      "t8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                    ]
                  },
                  "kyc": {
                    "$ref": "#/components/schemas/KYCDetails"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/KYCPartnerRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "KYC"
        ],
        "summary": "KYC Partner Request",
        "description": "This Api is called by the Lender on the KYC Partner to initiate KYC.",
        "operationId": "KYCPartnerRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationId",
                  "kyc"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string",
                    "examples": [
                      "t8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                    ]
                  },
                  "kyc": {
                    "$ref": "#/components/schemas/KYCDetailsRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/KYCPartnerResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "KYC"
        ],
        "summary": "KYC Partner Response",
        "description": "This Api is called by the the KYC Partner on the Lender. This response may contain additional documents collected by the KYC Partner on behalf of the Lender.",
        "operationId": "KYCPartnerResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "response",
                  "productData",
                  "loanApplicationId",
                  "kyc"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string",
                    "examples": [
                      "t8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                    ]
                  },
                  "kyc": {
                    "$ref": "#/components/schemas/KYCDetailsRequest"
                  },
                  "additionalDocuments": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Document",
                      "description": "Additional documents collected by the KYC Partner on behalf of the Lender."
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/kycStatusRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "KYC"
        ],
        "summary": "KYC Status Request",
        "description": "This API is called by LA to get the KYC status. This API will be triggered just after the user completes the KYC process.",
        "operationId": "KYCStatusRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationId",
                  "kyc"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "kyc": {
                    "type": "object",
                    "properties": {
                      "kycRefNo": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/kycStatusResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "KYC"
        ],
        "summary": "KYC Status Response",
        "description": "This API is called by the lender to inform the status of the KYC process. Lender is also supposed to inform the LA about the action required for completing the KYC.",
        "operationId": "KYCStatusResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationId",
                  "kyc"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "kyc": {
                    "$ref": "#/components/schemas/KYCDetails"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/kycPartnerStatusRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "KYC"
        ],
        "summary": "KYC Partner Status Request",
        "description": "This API is called by Lender on the KYC Partner to get the KYC status.",
        "operationId": "KYCPartnerStatusRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationId",
                  "kyc"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "kyc": {
                    "type": "object",
                    "properties": {
                      "kycRefNo": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/offers/kycPartnerStatusResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "KYC"
        ],
        "summary": "KYC Partner Status Response",
        "description": "This API is called by the KYC Partner on the Lender to inform the status of the KYC process.",
        "operationId": "KYCPartnerStatusResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationId",
                  "kyc"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "kyc": {
                    "$ref": "#/components/schemas/KYCDetails"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/loanAcceptance/loanAgreementRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Loan Acceptance"
        ],
        "summary": "Loan Agreement Request",
        "description": "Loan agreement request",
        "operationId": "loanAgreementRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationIds"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/loanAcceptance/LoanAgreementResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Loan Acceptance"
        ],
        "summary": "Loan Agreement Response",
        "description": "Loan agreement Response",
        "operationId": "loanAgreementResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationIds",
                  "response",
                  "loanAgreementStatus",
                  "loanAgreement"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "loanAgreement": {
                    "$ref": "#/components/schemas/LoanAgreement"
                  },
                  "loanAgreementStatus": {
                    "type": "string",
                    "enum": [
                      "AGREEMENT_READY",
                      "ACTION_REQUIRED"
                    ]
                  },
                  "actionRequired": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ActionRequired"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/loanAcceptance/triggerLoanAcceptanceRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Loan Acceptance"
        ],
        "summary": "Trigger Loan Acceptance Request",
        "description": "SMS Format for the OTP [#] {6Digit OTP} is the One Time Password (OTP) to complete the loan process with {Lender Name}. {appToken} >- Eg- 467866 is the One Time Password (OTP) to complete the loan process with ABC Bank. \\#0aBCD7DMr7s >- This API is invoked by the LA when the user agrees to the terms of the agreement.The Asynchronous response for this API should include the lender sending an OTP to the borrower’s phone number",
        "operationId": "triggerLoanAcceptanceRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationIds",
                  "credBlock"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "credBlock": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "OTP"
                        ]
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "appToken": {
                            "type": "string",
                            "examples": [
                              "<token for auto-reading otp>"
                            ]
                          }
                        }
                      },
                      "extensibleData": {
                        "$ref": "#/components/schemas/ExtensibleData"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/loanAcceptance/triggerLoanAcceptanceResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Loan Acceptance"
        ],
        "summary": "Trigger Loan Acceptance Response",
        "description": "SMS Format for the OTP [#] {6Digit OTP} is the One Time Password (OTP) to complete the loan process with {Lender Name}. {appToken} >- Eg- 467866 is the One Time Password (OTP) to complete the loan process with ABC Bank. \\#0aBCD7DMr7s >- This API is invoked by the Lender when the Lender triggers the credential verification process from the borrower.",
        "operationId": "triggerLoanAcceptanceResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "response",
                  "credBlock"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "credBlock": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "otpSessionKey": {
                            "type": "string"
                          },
                          "maskedPhoneNumber": {
                            "type": "string",
                            "examples": [
                              "XXXXXXX775"
                            ]
                          }
                        }
                      },
                      "extensibleData": {
                        "$ref": "#/components/schemas/ExtensibleData"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/loanAcceptance/verifyLoanAcceptanceRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Loan Acceptance"
        ],
        "summary": "Verify Loan Acceptance Request",
        "description": "This API is invoked by the LA when the user enters the OTP received on the mobile number and agrees to the terms of the agreement. The asynchronous response for this API should include the lender acknowledging the receipt of OTP and verifying if the user has entered the correct OTP that was shared by the lender.",
        "operationId": "verifyLoanAcceptanceRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "credBlock"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "credBlock": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "otpSessionKey": {
                            "type": "string"
                          },
                          "otp": {
                            "type": "number",
                            "examples": [
                              "856429"
                            ]
                          }
                        }
                      },
                      "extensibleData": {
                        "$ref": "#/components/schemas/ExtensibleData"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/loanAcceptance/verifyLoanAcceptanceResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Loan Acceptance"
        ],
        "summary": "Verify Loan Acceptance Response",
        "description": "This API is invoked by the Lender  when the OTP entered by the user is shared through the LA. This API acknowledges the receipt of OTP and verifies if the user has entered the correct OTP that was shared by the lender on the mobile number associated with the disbursement account.",
        "operationId": "verifyLoanAcceptanceResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "credBlock",
                  "response"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "credBlock": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "otpSessionKey": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "SUCCESS",
                              "INVALID_SESSION",
                              "INCORRECT_OTP"
                            ]
                          }
                        }
                      },
                      "extensibleData": {
                        "$ref": "#/components/schemas/ExtensibleData"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/grantLoan/grantLoanRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Grant Loan"
        ],
        "summary": "Grant Loan Request",
        "description": "This API is invoked by the LA once the borrower completes successful signing of the loan agreement to create the actual loan in the lender’s system.",
        "operationId": "grantLoanRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanApplicationId"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanApplicationId": {
                    "type": "string",
                    "examples": [
                      "e8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/gra6tLoan/grantLoanResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Grant Loan"
        ],
        "summary": "Grant Loan Response",
        "description": "This method is called be the Lender when the Grant Loan processing is completed. This informs the borrower about the status of the loan in the lender system. Upon successful creation of a loan in the system, the lender returns all the details of the loan.",
        "operationId": "grantLoanResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "response",
                  "loanDetails"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "loanDetails": {
                    "type": "object",
                    "properties": {
                      "loanId": {
                        "type": "string"
                      },
                      "loanApplicationId": {
                        "type": "string"
                      },
                      "loanStatus": {
                        "type": "string",
                        "enum": [
                          "GRANTED",
                          "REJECTED",
                          "ACTIVE",
                          "DEFAULTED",
                          "OVERDUE",
                          "ACTION_REQUIRED"
                        ]
                      },
                      "createdDate": {
                        "type": "string"
                      },
                      "startDate": {
                        "type": "string"
                      },
                      "endDate": {
                        "type": "string"
                      },
                      "borrower": {
                        "$ref": "#/components/schemas/Borrower"
                      },
                      "documents": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Document"
                        }
                      },
                      "guarantors": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Guarantor"
                        }
                      },
                      "applications": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Applicant"
                        }
                      },
                      "offer": {
                        "$ref": "#/components/schemas/Offer"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/disbursement/setRepaymentPlanRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Set Repayment"
        ],
        "summary": "Set Repayment Plan Request",
        "description": "This API is invoked by the BA to inform the lender system about the details of the repayment plan that will be used by the borrower.",
        "operationId": "setRepaymentPlanRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "loanApplicationId",
                  "loanId",
                  "productData",
                  "plan",
                  "hasCollectionSupport"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "loanId": {
                    "type": "string"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "plan": {
                    "$ref": "#/components/schemas/PaymentPlan"
                  },
                  "hasCollectionSupport": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/dis7ursement/setRepaymentPlanResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Set Repayment"
        ],
        "summary": "Set Repayment Plan Response",
        "description": "This API is invoked by the lender to the BA giving the payment url where he can enter details of repayment.",
        "operationId": "setRepaymentPlanResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "response",
                  "loanApplicationId",
                  "loanId",
                  "plan",
                  "paymentMethod",
                  "useCollectionSupport"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "loanId": {
                    "type": "string"
                  },
                  "plan": {
                    "$ref": "#/components/schemas/PaymentPlan"
                  },
                  "paymentMethod": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  },
                  "useCollectionSupport": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/dis7ursement/setRepaymentPlanStatusRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Set Repayment"
        ],
        "summary": "Set Repayment Plan Status Request",
        "description": "This API is used by BA to check the status of a previously initiated set repayment plan request. This API is called once the payment page of the lender is loaded and the borrower choses a repayment method associated with the chosen repayment plan.",
        "operationId": "setRepaymentPlanStatusRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "response",
                  "loanApplicationId",
                  "loanId",
                  "plan",
                  "paymentMethod"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "plan": {
                    "$ref": "#/components/schemas/PaymentPlan"
                  },
                  "paymentMethod": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  },
                  "loanId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/dis7ursement/setRepaymentPlanStatusResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Set Repayment"
        ],
        "summary": "Set Repayment Plan Status Response / Webhook",
        "description": "This API is used by lenders to inform BA about the status of a previously initiated set Repayment.The API returns the status of the repayment plan that the borrower has chosen. In case, the borrower has chosen e-mandate as the repayment method in payment page url, the status of the repayment plan becomes ACTIVE only after successful authorization of the e-mandate on the PSP by the borrower.",
        "operationId": "setRepaymentPlanStatusResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "response",
                  "loanApplicationId",
                  "loanId",
                  "plan",
                  "paymentMethod",
                  "useCollectionSupport"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "loanApplicationId": {
                    "type": "string"
                  },
                  "loanId": {
                    "type": "string"
                  },
                  "plan": {
                    "$ref": "#/components/schemas/PaymentPlan"
                  },
                  "paymentMethod": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  },
                  "useCollectionSupport": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/disbursement/setDisbursementAccountRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Disbursement"
        ],
        "summary": "Set Disbursement Account Request",
        "description": "This API is invoked by the LA to inform the lender about the disbursement account that the borrower has chosen.",
        "operationId": "setDisbursementAccountRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanId",
                  "account"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanId": {
                    "type": "string"
                  },
                  "account": {
                    "$ref": "#/components/schemas/AccountDetails"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/disbursement/setDisbursementAccountResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Disbursement"
        ],
        "summary": "Set Disbursement Account Response",
        "description": "This API is invoked by the lender to inform the LA regarding whether the lender has successfully set the disbursement account which was sent in SetDisbursementAccountRequest.",
        "operationId": "setDisbursementAccountResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "loanId",
                  "account",
                  "response",
                  "isWorkingCapitalUndertakingDone",
                  "hasOtherWorkingCapitalAccount",
                  "isWorkingCapitalAccount",
                  "otherWorkingCapitalAccounts"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanId": {
                    "type": "string"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "account": {
                    "$ref": "#/components/schemas/AccountDetails"
                  },
                  "isWorkingCapitalUndertakingDone": {
                    "type": "boolean"
                  },
                  "hasOtherWorkingCapitalAccount": {
                    "type": "boolean"
                  },
                  "isWorkingCapitalAccount": {
                    "type": "boolean"
                  },
                  "otherWorkingCapitalAccounts": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AccountDetailsData"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/disbursement/triggerDisbursementRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Disbursement"
        ],
        "summary": "Trigger Disbursement Request",
        "description": "This API is to be used when the borrower wants the money to be disbursed immediately.",
        "operationId": "triggerDisbursementRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "loanId",
                  "productData",
                  "payment"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "loanId": {
                    "type": "string",
                    "examples": [
                      "e8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                    ]
                  },
                  "payment": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/disbursement/triggerDisbursementResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Disbursement"
        ],
        "summary": "Trigger Disbursement Response",
        "description": "This API is to be used when the borrower wants the money to be disbursed immediately.",
        "operationId": "triggerDisbursementResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "response",
                  "loanId",
                  "payment"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "loanId": {
                    "type": "string",
                    "examples": [
                      "e8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                    ]
                  },
                  "payment": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/disbursement/triggerDisbursementStatusRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Disbursement"
        ],
        "summary": "Trigger Disbursement Status Request",
        "description": "This API is to be used by LA to check the status of a previously initiated disbursement request.",
        "operationId": "triggerDisbursementStatusRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "loanId",
                  "productData",
                  "payment"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "loanId": {
                    "type": "string",
                    "examples": [
                      "e8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                    ]
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/disbursement/triggerDisbursementStatusResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Disbursement"
        ],
        "summary": "Trigger Disbursement Status Response",
        "description": "This API is the response given by lender for  a trigger Disbursement Status Request.",
        "operationId": "triggerDisbursementStatusResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "loanId",
                  "productData",
                  "payment",
                  "response"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "loanId": {
                    "type": "string",
                    "examples": [
                      "e8cc6822bd4bbb4eb1b9e1b4996fbff8acb"
                    ]
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/repayment/triggerRepaymentRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Trigger Repayment"
        ],
        "summary": "Trigger Repayment Request",
        "description": "This API is invoked by the LA to inform the lender to trigger a repayment. This API will not be called when payment is routed to lender via collection agent.",
        "operationId": "triggerRepaymentRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "payment",
                  "loanId"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/Payment"
                  },
                  "loanId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/repayment/triggerRepaymentResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Trigger Repayment"
        ],
        "summary": "Trigger Repayment Response",
        "description": "This API is invoked by the lender to the LA giving the lender payment page url from where the borrower can make the payment. Lender also generates an id for the payment which becomes the reference for LA to check the status of repayment.",
        "operationId": "triggerRepaymentResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "payment",
                  "response",
                  "loanId"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/Payment"
                  },
                  "loanId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/repayment/triggerRepaymentStatusRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.lender.com"
          }
        ],
        "tags": [
          "Trigger Repayment"
        ],
        "summary": "Trigger Repayment Status Request",
        "description": "This API is used by LA to check the status of a previously initiated repayment transaction. In the case where collection is handled by Collection Management System (CMS), once the LA receives payment confirmation (including transaction reference number) from the Collection Management System, LA will send a request to the lender to check if a payment has been credited against the transaction Reference Number.",
        "operationId": "triggerRepaymentStatusRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "payment",
                  "loanId"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/Payment"
                  },
                  "loanId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/repayment/triggerRepaymentStatusResponse": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Trigger Repayment"
        ],
        "summary": "Trigger Repayment Status Response",
        "description": "This API is used by BA to check the status of a previously initiated repayment transaction. In the case where collection is handled by Collection Management System (CMS), once the BA receives payment confirmation (including transaction reference number) from the Collection Management System, BA will send a request to the lender to check if a payment has been credited against the transaction Reference Number.",
        "operationId": "triggerRepaymentStatusResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "payment",
                  "response",
                  "loanId"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/Payment"
                  },
                  "response": {
                    "$ref": "#/components/schemas/Response"
                  },
                  "loanId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of Request Received",
            "headers": {
              "X-Rate-Limit": {
                "description": "calls per hour allowed by the user",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ack"
                }
              }
            }
          }
        }
      }
    },
    "/v4.0.0alpha/repayment/confirmRepaymentRequest": {
      "post": {
        "servers": [
          {
            "url": "https://ocenapis.borrowagent.com"
          }
        ],
        "tags": [
          "Trigger Repayment"
        ],
        "summary": "Confirm Repayment Request",
        "description": "This API is used by lenders to inform LA about the status of a repayment handled directly by the lender (Triggered on Lender side - Payment on the branch or auto E-Mandate repayment).",
        "operationId": "confirmRepaymentRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "productData",
                  "response",
                  "payment",
                  "loanId",
                  "paymentMethod"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/MetaData"
                  },
                  "productData": {
                    "$ref": "#/components/schemas/ProductData"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/Payment"
                  },
                  "paymentMethod": {
[...]
